{{ define "main" }}

    <div class = container>

        <div class = "Divider" style = "padding-bottom: 4%">
        </div>


{{/******************************** Featured Projects ****************************************/}}

        <div class = "row">

{{ range .Pages }}
    {{ if .Params.Featured}}
            
            <div class = "col-sm-6 ProjectRow">
                <div class = "ProjectContainer">
                    <div style="position: absolute; width: 100%; height: 100%;">
    
                        <a href="{{ .RelPermalink }}">
                            <img src="{{ .Params.image }}" alt="{{ .Title }}" class = "ProjectThumbnail">
                                <h2 class="ProjectThumbnailText">{{ .Title }}</h2>
                        </a>
    
                    </div>
                </div> 
            </div>

    {{ end }}
{{ end }}

        </div>

{{/*******************************************************************************************/}}



{{/******************************** Projects per year ****************************************/}}
        
{{ $year := "" }}
{{ range first 1 .Pages }}
    {{ $year = .Date.Format "2006" }}
{{ end }}

        <div class = "Divider" style = "padding: 5% 0% 5% 30%">
            <hr>
            <h2>{{ $year }}</h2>
        </div>

        <div class = "row">

{{ range .Pages }}

    {{/* for every page we check if the year has changed, so we can make a new divider if so. */}}
    {{ if not (eq $year (.Date.Format "2006")) }}

        </div>

        {{ $year = .Date.Format "2006" }}

        <div class = "Divider" style = "padding: 5% 0% 5% 30%">
            <hr>
            <h2>{{ $year }}</h2>
        </div>

        <div class = "row">

    {{ end }}

            <div class = "col-sm-6 ProjectRow">
                <div class = "ProjectContainer">
                    <div style="position: absolute; width: 100%; height: 100%;">

                        <a href="{{ .RelPermalink }}">
                            <img src="{{ .Params.image }}" alt="{{ .Title }}" class = "ProjectThumbnail">
                            <h2 class="ProjectThumbnailText">{{ .Title }}</h2>
                        </a>

                    </div>
                </div> 
            </div>
    
    {{ end }}

        </div>

{{/*******************************************************************************************/}}

    </div>

{{ end }}