:root
{
    --PageBackgroundColor: rgb(255, 255, 255);
    --MenuBackgroundColor: var(--PageBackgroundColor);
    --MainTextColor: rgb(33, 37, 41);
    --MutedTextColor: rgb(33, 37, 41);
    --AccentedTextColor: #BEBEBE;
}



body
{
    font-family: 'Libre Baskerville', serif;
    background-color: var(--PageBackgroundColor);
    overflow-x: hidden;
}


p
{
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    color: var(--MainTextColor);
}


.ProjectTitle
{
    color: var(--AccentedTextColor);
}


.SidebarHeader
{
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    overflow-x: hidden;
}


.SidebarList
{
    overflow-x: hidden;
    padding-left: 0px;
    list-style-type: none;
}
