
body 
{
    font-family: 'Libre Baskerville', serif;
    background-color: rgb(52, 58, 64);
}

p
{
    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
    color: rgb(204, 205, 207);
}

.ProjectTitle{
    color: red;
}