
body 
{
    font-family: 'Libre Baskerville', serif;
}

.navbar
{
    padding: 3px;
}

p
{
    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
}

.nav-item
{
    font-size: 22px;
    font-family: 'Libre Baskerville', serif;
}

#PortfolioItem
{
    margin-top: 20px;
}
