.Divider
{
    padding: 0% 0% 0% 0%;
}


.Divider h2
{
    font-size: 58px;
    color: var(--MutedTextColor);
}


.Divider hr
{
    margin-top: 0px;
    margin-left: -4%;
    margin-right: -200%;
    height: 0px;
    border: none;
    border-top: 5px solid var(--MutedTextColor);
}
