
#menu_bar
{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}


.menu_page
{
    font-size: 22px;
    font-family: 'Libre Baskerville', serif;
}


.menu_icon
{
    width: 40px;
    margin-left: 10px;
}


#menu_button
{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 3%;
    margin-left: auto;
}


.navbar-dark
{
    background-color: var(--MenuBackgroundColor);
    border-color: var(--MenuBackgroundColor);
}
