:root
{
    --PageBackgroundColor: #1D1F20;
    --MenuBackgroundColor: var(--PageBackgroundColor);
    --MainTextColor: rgb(230, 230, 230);
    --MutedTextColor: rgb(33, 37, 41);
    --AccentedTextColor: rgb(56, 142, 185);
}



body
{
    font-family: 'Libre Baskerville', serif;
    background-color: var(--PageBackgroundColor);
    overflow-x: hidden;
}


p
{
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    color: var(--MainTextColor);
}


.SidebarHeader
{
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    overflow-x: hidden;
}


.SidebarList
{
    overflow-x: hidden;
    padding-left: 0px;
    list-style-type: none;
}

img
{
    width: 100%;
}