{{ define "main" }}

    <div class = container>

        <div class = "Divider" style = "padding-bottom: 2%"> </div>

        <div class = "row">

            <div class = "col-sm-8">
{{ range .Pages }}

                <h1>{{.Title}}</h1>
                {{ .Content }}

                <div class = "Divider" style = "padding-bottom: 4%"> </div>
{{ end }}
            </div>


            <div class = "col-sm-4">

                <h3 class = "SidebarHeader">Categories</h3>

                <h3 class = "SidebarHeader">All Posts</h3>

                <ul class = "SidebarList">
                    
{{ range .Pages }}
                    <li>
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </li>
{{ end }}
        
                </ul>
            </div>

        </div>
        
    </div>

{{ end }}