<div class = "col-sm-4">

    <div style="float:right; margin-top: 64px;">
        <h3 class = "SidebarHeader">Categories</h3>
    
        <ul class = "SidebarList">
            <li>
                <a href="/blog">All</a>
            </li>
{{ range $key, $value := .Site.Taxonomies.tags }}
            <li>
                <a href="/tags/{{$key}}">{{ $key | title }} ({{ $value.Count }})</a>
            </li>
{{ end }}
        </ul>

{{ if eq .Kind "taxonomy" }}
        <h3 class = "SidebarHeader">Posts in Category</h3>
{{ else }}
        <h3 class = "SidebarHeader">All Posts</h3>
{{ end }}
    

        <ul class = "SidebarList">
{{ if .IsPage }}
    {{ range where .Site.RegularPages "Section" "blog" }}
            <li>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
    {{ end }}
{{ else }}
    {{ range .Pages }}
            <li>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
    {{ end }}
{{ end }}
        </ul>

    </div>

</div>