<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

{{ if .IsHome }}
    <meta http-equiv="refresh" content="0; url=/about" />
{{ end }}

    <title>
        {{ (print "Aart Odding | " .Type) }}
    </title>

    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  rel="stylesheet" type="text/css">
    
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/main_menu.css" rel="stylesheet" type="text/css">
    <link href="/css/projects.css" rel="stylesheet" type="text/css">
    <link href="/css/gallery.css" rel="stylesheet" type="text/css">

</head>