{{ $is_projects := eq .Type "projects" }}
{{ $is_software := eq .Type "software" }}
{{ $is_blog     := eq .Type "blog"     }}

<header>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">

            <button class="navbar-toggler" data-toggle="collapse" data-target="#menu_bar" id="menu_button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu_bar">

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="menu_page nav-link {{ if .IsHome }} active {{ end }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="/projects"
                            class="menu_page nav-link {{ if $is_projects }} active {{ end }}">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a href="/software"
                            class="menu_page nav-link {{ if $is_software }} active {{ end }}">Software</a>
                    </li>
                    <li class="nav-item">
                        <a href="/blog" class="menu_page nav-link {{ if $is_blog }} active {{ end }}">Blog</a>
                    </li>
                </ul>

                <!-- Filler -->
                <div style="width:100%;"> </div>
                <!-- Filler -->
                
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="https://www.instagram.com/aart_odding/" class="nav-link">
                            <img class="menu_icon" src="/img/instagram_svg.svg">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.github.com/AartOdding" class="nav-link">
                            <img class="menu_icon" src="/img/github_svg.svg">
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>