<div class="Gallery">

    <img class="GalleryVisibleImage" style="width:100%">

    <div class="row GalleryRow">

        {{ .Inner }}

    </div>

    <script>
        var gallery = document.currentScript.closest(".Gallery");
        var visible_image = gallery.querySelector("img");
        var first_image = gallery.querySelector(".GalleryImage");
        visible_image.src = first_image.src;
    </script>

</div>


<script>

    function select_image(new_image) {
        var gallery = new_image.closest(".Gallery");
        var visible_image = gallery.querySelector("img");
        visible_image.src = new_image.src;
        visible_image.scrollIntoView({behavior: "smooth", block: "center", inline: "nearest"});
    }

</script>


<style>

</style>