<div class="image_gallery">

    <img id="selected_image" style="width:100%">
    
    <div class = "row GalleryRow">

{{ .Inner }}

    </div>

</div>

<style>
.GalleryColumn
{
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

.GalleryRow
{
    margin-left: -8px;
    margin-right: -8px;
}
</style>

<script>
    function select_image(new_image) 
    {
        var selected_image = document.getElementById("selected_image");
        selected_image.src = new_image.src;
    }
</script>
